*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo{
    align-items: left;
}

header{
    padding: 50px 0px;
    width: 100%;
    color: #222C39;
}

.slidePrincipal{
    width: 100%;
    height: auto;
}

div{
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein{
    from{
        margin-bottom: 50%;
    }
    to{
        margin-top: 0%;
    }
}

nav a:hover{
    color:#EDB149;
}

nav{
    color: #222C39;
}

ul li a:hover{
    color:#EDB149;    
}

.seleccion-menu{
    color: #EDB149;
    font-style: bold;
    border-bottom: 2px solid #EDB149;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #222C39;
}

section{
    text-align: center;
}

.imagenValor{
    width: 270px;
    height: auto;
    padding: 50px;
}

.imagen_blog{
    align-items: end;
}

.productos{
    width: 100%;
    height: auto;
}

.boton{
    background-color: #222C39;
    color: white;
    border-radius: 50px;
    padding: 10px 30px ;
    width: 120px;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-size: 15px;
}

input:hover{
    color: #EDB149;
}

input{
    padding: 10px;
    width: 100%;
    margin: 5px 0px;
    align-items: left;
}

textarea{
    padding: 10px;
    width: 100%;
    height: 170px;
}

form{
    margin: 20px 60px;
    text-align: left;
}

h1{
    color: #EDB149;
    padding: 0px 30px 0px 30px;
}

h2{
    color: #EDB149;
    padding: 0px 30px 0px 30px;
}

h3{
    color: grey;
    padding: 0px 30px 0px 30px;
}

h4{
    padding: 0px 30px 0px 30px;
}


.bold{
    font-style: bold;
}

tr{
    color:white
}

th{
    color: #EDB149;
}

table{
    position: center;
    width: 100%;
    height: auto;
}

footer{color: white;
    background-color: #222C39;
    text-align: center;
    padding: 20px;
}

/*Flex*/
#main{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

article, aside{
	flex:1;
	margin: 0px 30px 30px 30px;
}

section ul li{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 60px;
}

.texto-izq{
    text-align: left;
}

/*Grids aplcado en Contacto*/
#grid{
    display: grid;
    grid-template-areas:
    "Información de contacto"
    "Mensaje";
    grid-template-columns: 50% 50%;
}

.productos-home{
    display: grid;
    grid-template-areas:
    "Oficina"
    "Hotelerìa"
    "Restaurante"
    "Educativo";
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.fondo-gris{
    background-color:rgb(235, 235, 235);
    margin: 60px;
}

.dos-columnas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px;
    align-items: center;
}

.cuatro-columnas{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.cinco-columnas{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    margin: 0px 100px 0px 200px ;
    padding: 0;
    align-items: start;
}

.uno {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
}

.dos {
    grid-column: 2;
    grid-row: 1;
}

.tres {
    grid-column: 1;
    grid-row: 2;
}

.cuatro {
    grid-column: 2;
    grid-row: 2;
}

.cinco {
    grid-column: 1;
    grid-row: 3;
}

.seis {
    grid-column: 2;
    grid-row: 3;
}

.siete {
    grid-column: 1;
    grid-row: 4;
}

.ocho {
    grid-column: 2;
    grid-row: 4;
}


/* bem*/

.boton_blog{
	display: inline-block;
	text-decoration: none;
}

.contenedor1{
    background-color: gray;
}
