// VARIABLES
$amarillo: #EDB149;
$azulcobalto: #222C39;
$grisclaro: #97a9c0;
$grismedio: #6e7b8b;
$grisobscuro: #4b545e;
$medidafondo: 1920px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo{
    align-items: left;
}

header{
    padding: 50px 0px;
    width: 100%;
    color: $azulcobalto;
}

.slidePrincipal{
    width: 1080px;
    height: auto;
}

div{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein{
    from{
        margin-bottom: 50%;
    }
    to{
        margin-top: 0%;
    }
}

nav a:hover{
    color:$amarillo;
}

nav{
    color: $azulcobalto;
}

ul li a:hover{
    color:$amarillo;    
}

.seleccion-menu{
    color: $amarillo;
    font-style: bold;
    border-bottom: 2px solid $amarillo;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: $azulcobalto;
}

section{
    text-align: center;
}

.imagenValor{
    width: 270px;
    height: auto;
    padding: 50px;
}

.productos{
    width: 100%;
    height: auto;
}

.boton{
    background-color: $azulcobalto;
    color: white;
    border-radius: 50px;
    padding: 10px 30px ;
    width: 120px;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-size: 15px;
}

input:hover{
    color: $amarillo;
}

input{
    padding: 10px;
    width: 100%;
    margin: 5px 0px;
    align-items: left;
}

textarea{
    padding: 10px;
    width: 100%;
    height: 170px;
}

form{
    margin: 20px 60px;
    text-align: left;
}

h1{
    color: $amarillo;
}

h2{
    color: $amarillo;
    padding: 30px 30px 30px 0px 
}

h3{
    color: $grismedio;
    padding: 30 px;
}

h4{
    padding: 30px;
}

.bold{
    font-style: bold;
}

tr{
    color:white
}

th{
    color: $amarillo;
}

table{
    position: center;
    width: 100%;
    height: auto;
}

footer{color: white;
    background-color: $azulcobalto;
    text-align: center;
    padding: 20px;
}

/*Flex*/
#main{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

article, aside{
	flex:1;
	margin: 0px 30px 30px 30px;
}

section ul li{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 60px;
}

.texto-izq{
    text-align: left;
}

/*Grids aplcado en Contacto*/
#grid{
    display: grid;
    grid-template-areas:
    "Información de contacto"
    "Mensaje";
    grid-template-columns: 50% 50%;
}

.productos-home{
    display: grid;
    height: 600px;
    width: auto;
    grid-auto-columns: auto;
    grid-template-areas:
    "Oficina"
    "Hotelerìa"
    "Restaurante"
    "Educativo";
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.dos-columnas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px;
}
.cuatro-columnas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.cinco-columnas{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}

.uno {
    grid-column: 1;
    grid-row: 1;
}

.dos {
    grid-column: 2;
    grid-row: 1;
}

.tres {
    grid-column: 1;
    grid-row: 2;
}

.cuatro {
    grid-column: 2;
    grid-row: 2;
}

.cinco {
    grid-column: 1;
    grid-row: 3;
}

.seis {
    grid-column: 2;
    grid-row: 3;
}

.siete {
    grid-column: 1;
    grid-row: 4;
}

.ocho {
    grid-column: 2;
    grid-row: 4;
}

// bem

.boton_blog{
	display: inline-block;
	text-decoration: none;
}

.contenedor1{
    background-color: gray;
}

// CONDICIONALES
.box_one{
    background-color: $grisclaro;
    width: $medidafondo;
}

.box_two{
    width: $medidafondo/2;
}

.box_three{
    width: $medidafondo*2;
}


